<div class="sidebar" style="height: 100vh; background-color: #f8f9fa;">
    <div class="sidebar__item">
        <h4 class="text-center py-4">Admin Dashboard</h4>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="admin">
                    <i class="fa fas fa-tachometer-alt mr-2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="view-cate">
                    <i class="fa fas fa-list-alt mr-2"></i> Categories
                </a>
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="view-cate">
                            <i class="fa fas fa-eye mr-2"></i> View
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add-cate">
                            <i class="fa fas fa-plus mr-2"></i> Add
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="edit-cate">
                            <i class="fa fas fa-edit mr-2"></i> Edit
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="view-products">
                    <i class="fa fas fa-cube mr-2"></i> Products
                </a>
                <ul class="nav flex-column ml-4">
                    <li class="nav-item">
                        <a class="nav-link" href="view-products">
                            <i class="fa fas fa-eye mr-2"></i> View
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add-product">
                            <i class="fa fas fa-plus mr-2"></i> Add
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="edit-product">
                            <i class="fa fas fa-edit mr-2"></i> Edit
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>